.container{
    display: flex;
    width: 400px;
    height: 400px;
    background-color: blue;
    /*Invertimos las columnas
    flex-direction: row-reverse;*/
    
    /*Sino caben los items, da salto de linea*/
    flex-wrap: wrap;

    /*No permite multilinea
    flex-wrap: nowrap;
    */
}

/*

Align-Items: arriba abajo
justify-content: izquierda derecha
flex-direction: direccion de los elementos del contenedor

https://flexboxfroggy.com/#es
https://css-tricks.com/snippets/css/a-guide-to-flexbox/ 
https://mastery.games/flexboxzombies/ 
https://cssbattle.dev/ 

*/

.container > .item{
    background-color: gray;
    width: 30%;
    height: 50px;
    border-radius: 10px;
}