body{
    background-color: #fffbf7;
    /*background-image: url('https://image.freepik.com/vector-gratis/fondo-escenario-luces-neon_23-2148300642.jpg');*/
}

h1,h2,h3,h4,h5,h6{
    color: #46484c;
    background: whitesmoke;
    font-family: Arial;
    text-align: center;
}

p{
    color: #8b8b8bcc;
}

button{
    color: #fff;
    background: #025157;
}

.header{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    line-height: 45;
}

/*Display: Aqui, las etiquetas li, las coloca en una línea*/
li{
    display: inline;
}

/*Todos los hijos que tenga header, les de el diseño correspondiente*/
.header > * {
    display: inline-block;
    /*Le damos tamaño de letra en 16%*/
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;

}

/*La suma de los width debe dar 100% contando los espacios entre elementos*/
/*Tomar nuestra imagen*/
.logo{
    width: 15%; /*Tome el 15% de mi pantalla*/
}

.navbar{
    width: 70%;
    text-align: center;
    color: red;
}

.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
}