body{
    background-color: #fffbf7;
    /*background-image: url('https://image.freepik.com/vector-gratis/fondo-escenario-luces-neon_23-2148300642.jpg');*/
}
/*
h1,h2,h3,h4,h5,h6{
    color: #46484c;
    background: whitesmoke;
    font-family: Arial;
    text-align: center;
}
*/

p{
    color: #8b8b8bcc;
}

button {
    color: #fff;
    background: #025157;
}

.header {
    /*
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    */
    margin: 45px 25px 0 25px;
    font-size: 0;
    line-height: 45px;


}



/*Todos los hijos que tenga header, les de el diseño correspondiente*/
.header > * {
    display: inline-block;
    /*Le damos tamaño de letra en 16%*/
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}


.navbar{
    width: 70%;
    text-align: left;
    color: red;
    font-family: sans-serif;
    color: #025157;
    word-spacing: 25px;
}

.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    
}

.actions > a {
    color: #67b54b;
}

.actions > button{
    color: white;
    background: #67b54b;
    padding: 12px 14px 12px 14px;
    border-radius: 5px;
    cursor: pointer;

}

/*Display: Aqui, las etiquetas li, las coloca en una línea*/
li {
    display: inline;
}

/*La suma de los width debe dar 100% contando los espacios entre elementos*/
/*Tomar nuestra imagen*/
.logo {
    width: 15%; /*Tome el 15% de mi pantalla*/
}

.section{
    display: flex;
}

.articulo > h2{
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.articulo > p{
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;

}

.articulo > form{
    display: flex;
}

.videoo{
    display: flex;
    width: 70%;
    /*Arriba, Abajo: 100px, Izquierda Derecha: Automatico*/
    margin: 100px auto;
    /*Centrar elementos*/
    align-items: center;
}

.videoo > .vid > video{
    padding-top: 100px;
    padding-right: 30px;
}

.videoo > .vid > img{
    width: 30%;    
    padding-left: 150px;
}

.videoo > .articulo > form{
    display: flex;
    flex-direction: column;
}

.videoo > .articulo > form > .otro > button{
    cursor: pointer;
    padding: 6px 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 25px;
}

.videoo > .articulo > form > .otro > input{

    padding: 6px 20px;
    font-size: 25px;
}


.videoo > .articulo > form > .otro > button,input{
    height: 100%;
    border-radius: 10px;
}


.videoo > .articulo > form > div > p{
    margin-right: 20px;
    margin-top: 10px;
    font-size: 30px;
}

.header2{
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
}

.form1{
    margin-top: 150px;
}

/*TARJETA*/
.tarjeta{
    background-color: #a1d683;
    display: flex;    
}

.tarjeta > .texto > img {
    width: 500px;
    padding-left: 300px;
}

.tarjeta > .texto > h2{
    font-family: "Alegreya", serif;
    color: rgb(10, 95, 95);
    font-size: 50px;
    padding-left: 300px;
    padding-top: 100px;
}

/*PARRAFO DEL LADO IZQUIERDO*/
.tarjeta > .texto > p {
    color: rgb(49, 48, 48);
    padding-left: 300px;
}

/*BOTON DEL LADO IZQUIERDO*/
.tarjeta > .texto > button {
    cursor: pointer;
    padding: 12px;
    border-radius: 10px;
    font-family: "Alegreya", serif;
    font-size: 18px;
    margin-left: 300px;
}
/*TAMAÑO DE LA TARJETA*/
.tarjeta > .card{
    flex-direction: column;
    align-items: center;
    margin: 100px 580px 150px 100px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/*FOTO DEL MAN*/
.tarjeta > .card > .foto > .man > img{    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/*CIRCULO*/
#circulo {
    width: 90px;
    height: 90px;
    background: rgba(241, 239, 82, 0.993);
    border-radius: 100px;
    position: absolute;
    top:1550px;
    left:1120px;
}

/*LOGO DE EVERYL*/
.tarjeta > .card > .foto > .man > div > img {
    position: absolute;
    top:1580px;
    left:1128px;
    width: 5%;
    border:none;
}

/*TEXTO DE EVERLY*/
.tarjeta > .card > .foto > .textoFoto {
    background-color: white;
    
}

/*PARTE BAJA DE LA TARJETA, CARRITO*/
.tarjeta > .card > .foto > .shop{
    background-color: white;
    display: flex;
}

/*TEXTO EVERLY DEBAJO DE LA FOTO*/
.tarjeta > .card > .foto > .textoFoto > h3{
    color: rgb(10, 95, 95);
    padding-left: 20px;
}

/*TEXTO EVERLY DEBAJO DE LA FOTO*/
.tarjeta > .card > .foto > .textoFoto > h2{
    padding-left: 20px;
}


/*IMAGEN DEL CARRITO*/
.tarjeta > .card > .foto > .shop > img{
    padding: 20px 5px 25px 20px;
    width: 8%;
}

/*TEXTO AL LADO DEL CARRITO*/
.tarjeta > .card > .foto > .shop > p {
    padding-right: 50px;
    padding-left: 10px;
}

/*BOTON DE ABAJO DEL LADO DERECHO*/
.tarjeta > .card > .foto > button{
    cursor: pointer;
    margin: 20px 10px 40px 15px;
    padding: 10px 90px 10px 100px;
    border-radius: 8px
}

.features{
    display: grid;
    /*grid-template-columns: 300px 300px;*/

    /*repeat(2 columnas, de 300px)
    grid-template-columns: repeat(2, 300px); */

    /*espacio disponible entre los elementos que tengo
    grid-template-columns: 500px 1fr; */

    /* OPCION 1
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,330px);
    */

    /*OPCION 2*/
    padding: 5% 10%;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
    background-color: rgb(22, 87, 80);
    
}


/*PARA LAS 4 CARTAS*/
.features > article{
    margin: 0 15px 1rem 15px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    overflow: hidden;
}



/*LOGO LADO IZQUIERDO*/
.features > article > div > .im{
    width: 10%;
    vertical-align: middle;
    padding: 30px 380px 0 40px;

    
}

/*H3 DEL LADO IZQUIERDO*/
.features > article > div > h3 {
    padding-left: 40px;
    font-size: 30px;
    font-weight: 300;

}

/*PARRAFO DEL LADO IZQUIERDO*/
.features > article > div > p {
    padding-left: 40px;
    font-size: 20px;
    font-weight: 400;

}

/*ANCLA DEL LADO IZQUIERDO*/
.features > article > div > a {
    padding-left: 40px;
    font-weight: 600;
    font-size: 18px;
    color: green;
    text-decoration: none;


}


/*IMAGEN DEL LADO DERECHO*/
.features > article > .imagenn > img{
    width: 80%;    
    height: 80%;
    margin-top: 20px;
    margin-left: 82px;
}

/*TEXTO DE LA PRIMERA SECCION*/
.p1{
    display: block;
}

/*H1 PARTE DE ARRIBA*/
.p1 > h2{
    padding-top: 40px;
    text-align: center;
    font-weight: 1000;
    color: rgb(10, 95, 95);
    font-size: 50px;
    line-height: 60px;
}

/*P PARTE DE ARRIBA*/
.p1 > p{
    text-align: center;
    padding-left: 450px;
    padding-right: 480px;
    max-width: 60%;
    color: rgb(79, 77, 77);
    font-size: 24px;
    font-weight: 1000px;
    line-height: 1.5;
}

.p1 > p > a{
    text-decoration: none;
    color: rgb(54, 181, 54);
}

.p1 > button{
    margin-left: 770px;
    margin-bottom: 50px;
    margin-top: 5px;
    font-size: 18px;
    padding: 15px 25px;
    border-radius: 10px;

}


.p2{
    display: flex;
}

.p2 > article{
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    background-color: white;
    border: 2px solid white;
    text-align: left;
}


/*Selección de todas las imagenes*/
.p2 article div img{
    position: absolute;
}


/*Logo que está en la izquierda de la imagen*/
.p2 article div img:first-child{
    width: 2%;
}

/*Selección del segundo hijo*/
.p2 article div img:nth-child(2){
    width: 20%;
}